.startMessage{
    background-color: #ffffff;
    // border: 1px solid red;
    margin: 20px 0 0 0;
    padding: 80px 20px;
    width: 502px;
    height: 184px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px !important;
}