.footer{
    background-color: #2196F3;
    color: #FFFFFF;
    // border: 1px solid red;
    margin: 20px 0 0 0;
    padding: 20px;
    width: 502px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{
        background-color: #409eeb;
        // color: #4A4A4A;
    }
}